<span class="output_title">About This Group</span><span style="text-align:right;" title="Characteristics of this selected group of survey respondents"><%= image_tag "help_icon.png", :size => "16x16" %></span><br/>
<strong><%= @AboutPctExperienced %>% have 16 or more years of experience</strong><br>
<strong><%= @pctfulltime %>% are full-time</strong><br>
Spending 36+ hrs/week on music &<br/>
deriving 75%+ of income from music<br/>

<%# TODO: better name for this partial %>