<div class="about_survey">
	<h5>About This Data Portal</h5>
	<p>See how survey data about musicians' revenue streams differs by role, genre, career experience, education and more, though this data portal that presents data collected by Future of Music Coalition from over 5,300 US based musicians and composers via the 2011 Money from Music survey. <br /><a href="http://money.futureofmusic.org/about-the-project/">More info&hellip;</a></p>
	<h5>Whitepapers, Methodology, and More</h5>
	<ul> 	
    <li><a href="http://money.futureofmusic.org/findings/">Data Memos and Reports	</a></li>
    <li><a href="http://money.futureofmusic.org/40-revenue-streams/">42 Revenue Streams</a></li>
    <li><a href="http://money.futureofmusic.org/revenue-streams-existing-expanded-new/">Revenue Streams: Existing, Expanded and New</a></li>
    <li><a href="http://money.futureofmusic.org/data-portal-survey-data/">About the Survey Data in this Portal</a></li>
    <li><a href="http://money.futureofmusic.org/data-portal-definitions/">Definitions and Terminology	</a></li>    
	</ul>
 
	<h5>Talk to Us</h5>
  <p class="social"><a href="http://facebook.com/futureofmusiccoalition"><%= image_tag("fbicon.png")%> - on Facebook</a></p>
  <p class="social"><a href="https://twitter.com/future_of_music"><%= image_tag("twiticon.png")%> - @future_of_music</a></p>
  <%=render "mailing_list"%>
</div>