<div class="about_survey">
	<h5>About This 2011 Survey</h5>
	<p>See how survey data about musicians' revenue streams differs by role, genre, career experience, education and more, though this data portal that presents data collected by Future of Music Coalition from over 5,300 US based musicians and composers via the 2011 Money from Music survey.<br /><a href="http://money.futureofmusic.org">More at money.futureofmusic.org</a></p>
	<h5>Terminology</h5>
	<p>content here</p>
	<h5>Talk to Us</h5>
  <p class="social"><a href="http://facebook.com/futureofmusiccoalition"><%= image_tag("fbicon.png")%> - on Facebook</a></p>
  <p class="social"><a href="https://twitter.com/future_of_music"><%= image_tag("twiticon.png")%> - @future_of_music</a></p>
  <%=render "mailing_list"%>
</div>