<div class="about_survey">
	<h5>About This Data Portal and Survey</h5>
	<p>This data portal shows the aggregated survey data about the ways that US-based musicians are currently generating income from their compositions, recordings, performances or brand, collected by Future of Music Coalition during the Money from Music Survey, conducted from September 6–October 28, 2011.</p>
	<p>The online survey was completed by 5,371 US-based musicians, composers and performers, working in many disciplines and genres. The survey was one of three methods used by the Artist Revenue Streams research team to collect primary source data from US-based musicians about the revenue streams on which they are relying.</p>
	<h5>More Info</h5>
	<ul> 	
    <li><a href="http://money.futureofmusic.org/revenue-streams-existing-expanded-new/">Revenue Streams: Existing, Expanded and New</a></li>
    <li><a href="http://money.futureofmusic.org/data-portal-survey-data/">About the Survey Data in this Portal</a></li>
    <li><a href="http://money.futureofmusic.org/data-portal-definitions/">Definitions and Terminology	</a></li>    
	</ul>
 
	<h5>Follow FMC</h5>
  <p class="social"><a href="http://facebook.com/futureofmusiccoalition"><%= image_tag("fbicon.png")%> - on Facebook</a></p>
  <p class="social"><a href="https://twitter.com/future_of_music"><%= image_tag("twiticon.png")%> - @future_of_music</a></p>
  <%=render "mailing_list"%>
</div>