<!-- mailing list sign up -->  	      	
<h5>Join Our Mailing List</h5>
<form action="https://futureofmusic.org/civicrm/profile/create?gid=29&amp;reset=1" method="post" name="Edit" id="Edit">
<input maxlength="64" size="12" name="email-Primary" type="text"  placeholder="Email address?"/>
<input accesskey="S" name="_qf_Edit_next" value="Sign Up" type="submit"  /> 
</form>