<% otherIncomeLabels= {"rev_produce"=>"Producing",
"afm_srsp"=>"Sound Recording Special Payments Fund",
"rev_honoraria"=>"Honoraria",
"rev_grants"=>"Grants",
"afm_2"=>"Film Musicians Secondary Markets Fund",
"rev_fanfund"=>"Fan funding",
"rev_corp"=>"Corporate sponsorship",
"afm_aftra"=>"AFM/SAG-AFTRA Intellectual Property Rights Distribution Fund",
"ascaplus"=>"ASCAPLUS Awards",
"rev_acting"=>"Acting",
"rev_webads"=>"WebAds",
"aarc"=>"AARC royalties",
"rev_endorse"=>"Product endorsements",
"label_settle"=>"Label settlements",
"rev_sample"=>"Sample licensing",
"rev_pubadvance"=>"Publisher advance",
"rev_youtube"=>"YouTube Partnership Program",
"rev_persona"=>"Persona licensing",
"rev_fanclub"=>"Fan club",
"aftra_csp"=>"AFTRA Contingent Scale",
""=>""}
%>
<table>
	<%   
							 @OtherIncomeDist.select { |k,v| 5.0<=v }.sort_by { |k,v| -1.0*v}.each do |e|  %>
	<tr>
		<td>
			<strong><%=number_with_precision(e[1],:precision=>2, :significant=>true)%>%</strong>
		</td>
		<td>
			<div>
				… of respondents earned some $ from
			</div><strong class="special2"><%=otherIncomeLabels[e[0]]%></strong>
		</td>
	</tr><% end %>
</table>
<p>
	… although <strong>fewer than 5%</strong> of this group earned any money from <%  sep=""
							 @OtherIncomeDist.select { |k,v| v<5 }.sort_by { |k,v| -1.0*v}.each do |e| 
								 outp=(sep ? sep : "")+otherIncomeLabels[e[0]]
								 %><%= outp 
								 %><% sep=", "; end %>
</p>
