<table>
  <thead>
    <tr>
      <th>Must have</th>
      <th>Don't care</th>
      <th>Must <em>not</em> have</th>
    </tr>
  </thead>
  <tbody>
    <%for i in 0..5%>
      <tr><td colspan="3">@role_name_here_<%=i%></td></tr>
      <tr>
        <td><label>
          <span class="none">Must have chosen the role: @role_name_here</span>
          <input type="radio" name="@role_name_here_<%=i%>" value="must_have">
        </label></td>
        <td><label>
          <span class="none">Don't care if this role was chosen</span>
          <input type="radio" value="indifferent" checked="checked" name="@role_name_here_<%=i%>">
        </label></td>
        <td><label>
          <span class="none">Must not have chosen this role</span>
          <input type="radio" value="must_not_have" name="@role_name_here_<%=i%>">
        </label></td>
      </tr>
    <%end%>
  </tbody>
</table>