// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#facets {width:25%;float:left;min-width:200px;background:#F9F9F9;}
div#outputs {float:left;min-width:300px;margin:0px 6px;}
div#ftclaim, div#aboutthisgroup {background:#EFEFEF; padding:4px;text-align:center;width:100%;}
div#facets label, div#facets legend {display:inline;}
div .textual_output {padding:2em;}
.output_title {font-weight:bold;font-size:120%;line-height:2.5;}
ul.textual_output li {line-height:1.5;margin-bottom:0;}
ul.textual_output li strong {font-weight:bold;line-height:1.75;}
div#facets h6 {font-weight:bolder;color:#FF8C00;}
// ul.textual_output li {list-style-position:inside;line-height:1.2em;}